/* color palette from <https://github.com/vuejs/theme> */
/* color palette from <https://github.com/vuejs/theme> */
:root {
  --text: #262626;
  --muted-text: #6b7280;
  --background: #f8f8fd;
  --foreground: #ffffff;
  --muted-foreground: #fafafa;
  --accent: #3c71dd;
  --on-accent: #ffffff;
  --muted-accent: #e5f3ff;
  --warn: #ff992d;
  --muted-warn: #ffe8d0;
  --success: #3cd48d;
  --muted-success: #d9f9e9;
  --destructive: #c33;
  --muted-destructive: #ffd0d0;

  --calendar-weekend: #f5f5f5;
  --border-radius: 0.7rem;
  --border-color: #f0f0f0;
  --sidebar-width: 15rem;
  --header-height: 4.5rem;
  --padding-primary: 1.45rem;
  --padding-secondary: 1rem;
}

.dark-theme {
  --text: #e4e4e4;
  --muted-text: #888888;
  --background: #0a0a0a;
  --foreground: #151515;
  --muted-foreground: #202020;
  --accent: #528bff;
  --on-accent: #ffffff;
  --muted-accent: #1c3157;
  --warn: #ffb347;
  --muted-warn: #4a381f;
  --success: #36d389;
  --muted-success: #1a4030;
  --destructive: #ff6b6b;
  --muted-destructive: #5a2a2a;
  --calendar-weekend: #1c1c1c;

  --border-radius: 0.7rem;
  --border-color: #2d2d2d;
  --sidebar-width: 15rem;
  --header-height: 4.5rem;
  --padding-primary: 1.45rem;
  --padding-secondary: 1rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a,
a:hover,
a:visited {
  color: inherit;
  text-decoration: none;
}

button {
  color: inherit;
  background: inherit;
  border: none;
  outline: none;
}

html {
  font-size: 14px;
}

@media (max-width: 1680px) {
  html {
    font-size: 12px;
  }
}
@media (max-width: 1280px) {
  html {
    font-size: 10px;
  }
}

@media (max-width: 960px) {
  html {
    font-size: 8px;
  }
}

body {
  color: var(--text);
  background: var(--background);
  font-family: 'Manrope', serif;
  font-size: 1rem;
}
